name: CI/CD

on: 
  push:
  schedule:
    - cron: "0 0 * * MON"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      #run: ./gradlew -i clean classes library:test library:wmsTest web-service:test web-service:bootJar web-service:buildDockerImage
      run: ./gradlew -i clean classes 
    - uses: actions/upload-artifact@v2
      if: ${{ failure() }}
      with:
        name: reports
        path: library/build/reports/tests/
    # - name: Push Docker image
    #   if: ${{ success() }} && github.ref == 'refs/heads/master'    
    #   run: ./gradlew web-service:pushDockerImages
    #   env:
    #     DOCKER_PASSWORD: ${{secrets.DOCKER_HUB_ACCESS_TOKEN}}
    #     DOCKER_USERNAME: ${{secrets.DOCKER_HUB_USERNAME}}
    - name: Decode key ring file
      #if: ${{ success() }} && github.ref == 'refs/heads/master'
      run: |
        echo "${{secrets.SIGNING_SECRET_KEY_RING_FILE}}" > ~/.gradle/sonatype_upload.gpg.b64
        base64 -d ~/.gradle/sonatype_upload.gpg.b64 > ~/.gradle/sonatype_upload.gpg
    - name: Publish Jar file
      #if: ${{ success() }} && github.ref == 'refs/heads/master'
      run: ./gradlew -i publish -Psigning.keyId=${{secrets.SIGNING_KEY_ID}} -Psigning.password=${{secrets.SIGNING_PASSWORD}} -Psigning.secretKeyRingFile=$(echo ~/.gradle/sonatype_upload.gpg)
      env:
        OSSRH_USERNAME: ${{secrets.OSSRH_USERNAME}}
        OSSRH_PASSWORD: ${{secrets.OSSRH_PASSWORD}}
